{% extends 'base.html.twig' %}

{% block body %}
<div class="wrapper">
    <div class="container">
        <h1>Lexicon</h1>
        <h2>{{ entry }}</h2>
        <p>full description</p>
    </div>
</div>
{% endblock %}
